.right-pannel {
  position: absolute;
  right: 0;
  width: 160px;
  top: 40px;
  color: #ffffff;
}
.right-pannel .pannel-box {
  position: relative;
  border: 1px solid #0598ca;
  background: #30435a;
  margin-bottom: 2px;
}
.right-pannel .pannel-box .switch {
  position: absolute;
  width: 30px;
  left: -32px;
  top: 0;
  padding: 5px;
  color: #eef600;
  background: #1d2a35;
  text-align: center;
  cursor: pointer;
}
.right-pannel .pannel-box .switch i {
  font-size: 20px;
  margin-bottom: 3px;
}
.right-pannel .pannel-box .switch span {
  width: 100%;
}
.right-pannel .pannel-box .base-dev {
  background: #30435a;
}
.right-pannel .pannel-box .base-dev .base-dev-title {
  height: 30px;
  line-height: 30px;
  background: #1d2a35;
}
.right-pannel .pannel-box .base-dev .base-dev-title span {
  padding-left: 20px;
}
.right-pannel .pannel-box .base-dev .base-dev-li {
  padding-left: 20px;
  margin-bottom: 0;
}
.right-pannel .pannel-box .base-dev .base-dev-li li {
  list-style: none;
  line-height: 2.5;
  cursor: pointer;
}
.right-pannel .pannel-box .base-dev .base-dev-li li:hover {
  color: #eef600;
}
.right-pannel .pannel-box .base-dev .base-dev-li li i.icon-hook {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0 8px;
  margin-left: 10px;
  margin-right: 6px;
  background-size: contain;
  vertical-align: middle;
}
.toolbar{
  /* background-color: #000 */
}
.toolbar ul{
  padding-left:10px 
}
 
.toolbar .pannel-box {
  position:absolute;
  left: 0;
  width: 60px;
  top: 300px;
  background-color: #ffffff;
}
.toolbar .pannel-box li{
  list-style-type : none;
  position: relative;
  
}
.toolbar .pannel-box li :hover{
  background: #eef600
}
.left-drop-ul{
  display: none;
  position: absolute;
  top: 0;
  left: 38px;
  width: 150px;
  border: 1px solid #e4e4e4;
  background: #f5f6fa;
}
.left-drop-ul li{
  background:#ccc;
  padding: 8px 20px;
  border: 1px solid #e4e4e4;
  
}
.left-drop-ul li:hover{
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.coordinate {
  position: absolute;
  height:25px;
  width:245px;
  top:0px;
  background: #fff;

}
.coordinate input{
  width:170px;
  background-color:#fff
}